.banner{
    width: 1263px;
    height: 461px;
//  background: red;
    margin: 0 auto;
    overflow: hidden;
    .bann{
        width: 1153px;
        height: 451px;
//      background: cyan;
        margin: 0 auto;
        margin-top: 10px;
        .xm_carousel_container {
            position: relative;
            .imgs{
                list-style: none;
            };
            .pages{
                height: 25px;
                position: absolute;
                bottom:17px;
                left:50%;
                margin-left: -55px;
                border-radius: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: rgba(0,0,0,0.1);
                
                i{
                    width:10px;
                    height: 10px;
                    border-radius: 5px;
                    background: #DCDCDC;
                    display: inline-block;
                    margin:6px;
                    &.current{
                        background-color: orange;
                    } 
                }
            }
            .prev, .next{
                width:60px;
                height: 60px;
                background: white;
                opacity: 0.5;
                color:#7c4c4e;
                text-align: center;
                line-height: 60px;
                position: absolute;
                top:0;
                bottom: 0;
                margin:auto;
                font-size: 35px;
            }
            .next{
                right:0;
            }
        }

    }
}
.lunbotu{
    width: 1150px;
    margin: 0 auto;
    .youxuan{
        width:1150px;
        height:154px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            width:300px;
            height: 35px;
            border:1px solid;
            text-align: center;
            line-height: 35px;   
        }
    }
    //轮播多张图片
    .luntu-b{
        width:1150px;
        height:600px;
        background: #8ae6e0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .xm_carousel_container {
            position: relative;
           
            .imgs{
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        width:320px;
                        height:430px;
                    }
                }
            }
            .prev, .next{
                width:60px;
                height: 60px;
                color:white;
                text-align: center;
                line-height: 60px;
                position: absolute;
                top:0;
                bottom: 0;
                margin:auto;
                font-size: 35px;
            }
            .prev{
                
                left:0;
                margin-left:-70px;
            }
            .next{
               
                right:0px;
                margin-right:-70px;
            }
        }
        
    }
    //轮播图标
    .luntu-s{
        width:1150px;
        height:200px;
        margin: 0 auto;
        background: url(../images/bg9.png) no-repeat 1016px 16px;
        position: relative;
        
         .xm_carousel_container {
            position: relative;
            padding-top: 5px;
            .imgs{
                li{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: space-around;
                    img{
                        width:185px;
                        height:86px;
                    }
                    
                }
            }
            .prev, .next{
                width: 60px;
                height: 60px;
                color: black;
                text-align: center;
                line-height: 60px;
                position: absolute;
                margin:auto;
                font-size: 35px;
            }
            .prev{
                right:-94px;
                top:-5px;
                
            }
            .next{
                top: 37px;
                right: -167px;
                
            }
        }
    }
}
.meizhuang{
    width: 1263px;
    height: 153px;
    margin: 0 auto;
//  background: red;
    overflow: hidden;
    p{
        width: 305px;
        height: 35px;
        text-align: center;
        border: 1px solid black;
        line-height: 35px;
        margin-top: 80px;
        margin-left: 480px;
        float: left;
    }
    ul{
        float: right;
        margin-top: 90px;
        li{
            float: left;
            list-style: none;
            width: 80px;
            border-right: 1px solid;
            text-align: center;
        }
        li:nth-child(5){
            border-right: none;
        }
        a{
            text-decoration: none;
            color: #333333;
            font-size: 14px;
        }
    }
}
.meitu{
    width: 1263px;
    height: 504px;
//  background: red;
    margin: 0 auto;
    .meitu-t{
        width: 1153px;
        height: 504px;
//      background: darkcyan;
        margin: 0 auto;
        overflow: hidden;
        .meitu1{
            width: 185px;
            height: 504px;
            background: red;
            float: left;
        }
        .meitu1:hover{
            opacity: 0.7;
        }
        .meitu2{
            width: 377px;
            height: 504px;
            background: yellow;
            float: left;
            margin-left: 9px;
        }
        .meitu2:hover{
            opacity: 0.7;
        }
        .meitu-s{
            width: 185px;
            height: 248px;
            float: left;
            margin-left: 9px;
            margin-bottom: 8px;
        }
        .meitu-s:hover{
            opacity: 0.7;
        }
    }
}
.br{
    width: 305px;
    height: 35px;
    text-align: center;
    border: 1px solid black;
    line-height: 35px;
    margin-top: 80px;
    margin-left: 480px;
    margin-bottom: 60px;
}
.shoufq{
    width: 1263px;
    height: 401px;
//  background: red;
    margin: 0 auto;
    margin-bottom: 50px;
    .shoufq-t{
        width: 1153px;
        height: 400px;
        margin: 0 auto;
//      background: yellow;
        ul{
            width: 1153px;
            height: 400px;
            overflow: hidden;
            li{
                width: 225px;
                list-style: none;
                float: left;
                transition: all 2s;
//              overflow: hidden;
            }
        }
        ul:hover li{
            width: 130px;
            opacity: 0.5;
        }
        ul li:hover{
            width: 630px;
            opacity: 0.9;
        }
    }
}
